<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Health Application</title>
</head>
<body>
  <center>
    <h1>Emergency Service</h1>
    <table>
      <tr>
          <td>Name</td>
          <td>location</td>
          <td>nearbyhospitals</td>
      </tr>
      <tr id="bodyRow"> 
      </tr>
  </table>
  </center>
  
</body>
<style>
    body{background: linear-gradient(#b0a1eb, #c4c8f5,white);
        background-attachment: fixed;}
    tr{border: 1px solid black;}
    td{border: 1px solid black;padding:5px;}
    table{border:1px solid black;background: white;}
</style>
<script>
    // var dataRow = document.getElementById("bodyRow");
    // test = 0;
    // for (let i = 0; i < 2; i++) {
    //     dataRow.insertCell(i).innerHTML= "test";
    // }

</script>
</html>