<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Health Application</title>
</head>
<body>
  <center>
    <h1>Health Service</h1>
    <h2  class="headerText">Your location is sent to the Emergency Service. The Ambulace is on its way.</h2>
    <h2  class="Info">You click <a href="tel:555-666-7777">here</a> to call the emergency hotline.</h2>
    <h2 class="Info">Or you can chat with our Emergency Service Operator.<button class="chatButton" onclick="chatScreen()">Chat Now</button></h2>
  </center>
  <script>
   function chatScreen(){
      window.open('http://localhost:5000/', '_blank').focus();
    }
  </script>
</body>
<style>
    body{background: linear-gradient(#b0a1eb, #c4c8f5,white);
        background-attachment: fixed;}
    .chatButton{
      padding:5px;font-size: 16px; cursor: pointer;
    }
    .headerText{font-size: 20px;font-weight: bold;margin-top: 50px;padding:10px}
    .Info{font-size: 20px;font-weight: bold;padding:10px}
    
</style>
</html>